@use '../abstracts/variables' as v
@use '../abstracts/mixins' as m

header
    width: 100%
    padding: 20px
    display: flex
    justify-content: space-between
    background-color: v.$Dark-Blue-header-hero

    .header__logo
        width: 90px

        img
            width: 100%

        @include m.large
            width: 180px

    nav
        width: 160px
        display: flex
        justify-content: space-between
        align-items: center
        font-size: 1.3rem

        a:hover
            color: v.$White
            text-decoration: underline

    @include m.medium
        padding: 40px 50px

    @include m.large
        padding: 50px

    nav
        @include m.large
            width: 280px
            // border: 1px solid red

            a
                font-size: 1.8rem


        

        