@use '../abstracts/variables' as v
@use '../abstracts/mixins' as m

// Headings, Call-to-actions, Header Navigation
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap')
// 'Raleway', sans-serif

// Body
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap')
// 'Open Sans', sans-serif

*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%

body
    font-size: 1.4rem
    font-family: 'Open Sans', sans-serif

header, h1, h2, h3, h4
    font-family: 'Raleway', sans-serif
    color: v.$White

a
    text-decoration: none
    color: v.$White-80

    &:hover
        cursor: pointer
        color: v.$White

p
    color: v.$White-80
    font-size: 1.3rem

h4
    font-size: 1.5rem

i
    color: v.$White-80







